/*fade*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/*fade*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

.el-upload input[type="file"] {
  display: none !important;
}

.el-upload__input {
  display: none;
}

.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

.upload-container .el-upload {
  width: 100%;
}

.upload-container .el-upload .el-upload-dragger {
  width: 100%;
  height: 200px;
}

#app .main-container {
  min-height: 100%;
  transition: margin-left 0.28s;
  margin-left: 180px;
  position: relative;
  top: 50px;
}

#app .sidebar-container {
  transition: width 0.28s;
  width: 180px !important;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
}

#app .sidebar-container a {
  display: inline-block;
  width: 100%;
}

#app .sidebar-container .svg-icon {
  margin-right: 16px;
}

#app .sidebar-container .el-menu {
  border: none;
  width: 100%;
}

#app .hideSidebar .sidebar-container, #app .hideSidebar .sidebar-container .el-menu {
  width: 36px !important;
}

#app .hideSidebar .main-container {
  margin-left: 36px;
}

#app .hideSidebar .submenu-title-noDropdown {
  padding-left: 10px !important;
  position: relative;
}

#app .hideSidebar .submenu-title-noDropdown span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  opacity: 0;
  display: inline-block;
}

#app .hideSidebar .submenu-title-noDropdown:hover span {
  display: block;
  border-radius: 3px;
  z-index: 1002;
  width: 140px;
  height: 56px;
  visibility: visible;
  position: absolute;
  right: -145px;
  text-align: left;
  text-indent: 20px;
  top: 0px;
  background-color: #1f2d3d !important;
  opacity: 1;
}

#app .hideSidebar .el-submenu > .el-submenu__title {
  padding-left: 10px !important;
}

#app .hideSidebar .el-submenu > .el-submenu__title > span {
  display: none;
}

#app .hideSidebar .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
  display: none;
}

#app .hideSidebar .el-submenu .nest-menu .el-submenu__icon-arrow {
  display: block !important;
}

#app .hideSidebar .el-submenu .nest-menu span {
  display: inline-block !important;
}

#app .nest-menu .el-submenu > .el-submenu__title,
#app .el-submenu .el-menu-item {
  min-width: 180px !important;
  background-color: #1f2d3d !important;
}

#app .nest-menu .el-submenu > .el-submenu__title:hover,
#app .el-submenu .el-menu-item:hover {
  background-color: #001528 !important;
}

#app .el-menu--collapse .el-menu .el-submenu {
  min-width: 180px !important;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background: #efefef;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.app-main {
  min-height: 100%;
}

.app-container {
  padding: 20px;
}

.el-dialog {
  border-radius: 5px;
}

.el-dialog__header {
  border-bottom: 1px solid #eeeeee;
}

.el-dialog__footer {
  border-top: 1px solid #eeeeee;
}

.el-select {
  width: 100%;
}
