@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background: #efefef;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
p{
  margin:0;
}
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.el-dialog{
  border-radius: 5px;
}

.el-dialog__header{
  border-bottom: 1px solid #eeeeee;
}

.el-dialog__footer{
  border-top: 1px solid #eeeeee;
}

.el-select{
	width:100%
}

.modal-ctx{
	width: 100%;
}

.pull-left{
  float: left;
}

.button-clear-left{
  margin-left:0 !important;
}
// .el-select__tags{
//   .el-tag--small{
//     height: 19px;
//     padding: 0 5px;
//     line-height: 19px;
//   }
// }